$bgColor: #000016;
.sidebar{
	flex: 1;
	padding: 40px 20px;
	position: sticky;
	min-height: 100vh;
	background-color: $bgColor;
	display: flex;
	flex-direction: column;
	gap: 40px;
	.sidebar-logo{
		color: #fff;
		font-size: 20px;
	}
	.sidebar-menu{
		display: flex;
		flex-direction: column;
		gap: 15px;
		button{
			padding: 15px 10px;
			border: 1px solid #2e374a;
			background-color: transparent;
			border-radius: 10px;
			cursor: pointer;
			&:hover{
				background-color: #2e374a;
			}
			a{
				font-size: 20px;
				color: #b1bfeb;
				text-decoration: none;
				text-transform: capitalize;
			}
		}
	}
}